[options]
admin_passwd = admin
db_host = {{ db_host }}
db_port = 5432
db_user = {{ db_user }}
db_password = {{ db_password }}
db_name = {{ db_name }}
addons_path = {{ odoo_home }}/odoo/addons
logfile = {{ odoo_log }}
xmlrpc_port = {{ odoo_port }}
